<html>
<head>
    <title>Index HTML</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('generateSMS', function(sms) {
            socket.emit('my event', {data: 'Received SMS clientside'});
            $('.grid-container').append('<div class="grid-item" id=' + sms.id +
            '><div>' + sms.number + '</div><div class="messagebox">' + sms.msg + '</div></div>');
        });
    </script>
</head>

<body class="background">
    <!-- Header -->
    <div id="header">
        <div style="padding: 5px;">
            Dashboard - {{restaurant.name}}
        </div>
    </div>

    <!-- Main Area -->
    <div class="grid-container">
    </div>

</body>
</html>